.user {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
  }

  &__name {
    text-decoration: none;
    transition: transform ease 0.3s;
  }

  &__name:hover {
    transform: scale(1.08);
    border-radius: 8px;
  }
}
