.title {
  margin: 0 0 30px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ccc;
  margin-bottom: 30px;

  &:focus {
    outline: none;
  }
}

.select {
  height: 36px;
  padding-inline: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ccc;
  outline: none;
  cursor: pointer;
}

.error {
  color: #c60303;
}
