.title {
  margin: 0 0 30px 0;
}

.input {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ccc;
  margin-bottom: 30px;

  &:focus {
    outline: none;
  }
}

.error {
  color: #c60303;
}
